<div class="productList">
  <h1>All product List</h1>
  <p class="p_message">{{productMessage}}</p>
  <table >
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>price</th>
        <th>Color</th>
        <th>category</th>
        <th>description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
       
        <tr *ngFor="let item of productList">
            <td><img src="{{item.image}}"></td>
            <td>{{item.name}}</td>
            <td>{{item.color}}</td>
            <td>{{item.price}}</td>
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td>
                <fa-icon  (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
            <a class="adjust-update-icon" routerLink="/seller-update-product/{{item.id}}"><fa-icon [icon]="editIcon"></fa-icon></a>
        </tr>
    </tbody>
  </table>
</div>
